Disparos.json
{
  "name": "Disparos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "disparo-confirmacao-clinic",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        0
      ],
      "id": "12771e23-dea3-4e95-b957-9f4f8299ab9f",
      "name": "Webhook Trigger",
      "webhookId": "66177160-bd54-4167-a992-900ec1543166",
      "credentials": {
        "httpHeaderAuth": {
          "id": "W7ULixxR4Zu4FIVb",
          "name": "confirme"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        0
      ],
      "id": "b9f1c267-684b-480d-949b-73d1f95b0851",
      "name": "Loop Pacientes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-evo.yyuhkk.easypanel.host/message/sendText/Silvia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "544AA063B68F-49A1-BEF5-6AF3E5185639"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"number\": $json.patientMobileEvo,\n    \"text\": $json.customMessage\n  }\n}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        96
      ],
      "id": "1187c3ef-fcf1-45b1-b748-773c445bb7ee",
      "name": "Evo - Enviar Msg"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1280,
        112
      ],
      "id": "71eb45bb-a9e0-4138-99c2-d2c8519223e4",
      "name": "Wait Anti-Ban",
      "webhookId": "dd1548a1-c9d2-4810-9944-8ba03380cda9"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.bookings",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "5285e671-925f-4bcf-a579-e9e9f3fc476c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evo-respostas-pacientes",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        432
      ],
      "id": "a6ec8c92-c2af-4a32-8edd-74e90c3a088b",
      "name": "Receber Resposta Evo",
      "webhookId": "98458234-7377-4356-b7ca-8b68ae6dc92e"
    },
    {
      "parameters": {
        "jsCode": "// O payload da Evo geralmente vem dentro de body.data\nconst payload = $json.body?.data || $json.data || $json.body;\n\n// 1. Barreira de Segurança: Ignorar eventos irrelevantes\nif (!payload || !payload.key) return []; // Não é uma mensagem\nif (payload.key.fromMe) return []; // É uma mensagem enviada por nós mesmos\nif (payload.key.remoteJid.includes('@g.us')) return []; // É de um grupo\n\n// 2. Extração segura do texto (Evo manda em lugares diferentes dependendo se tem link ou não)\nlet text = \"\";\nif (payload.message?.conversation) {\n  text = payload.message.conversation;\n} else if (payload.message?.extendedTextMessage?.text) {\n  text = payload.message.extendedTextMessage.text;\n}\n\n// 3. Pega só os números do telefone (ex: 554199999999)\nconst phone = payload.key.remoteJid.split('@')[0];\n\nreturn {\n  remoteJid: payload.key.remoteJid,\n  phone: phone,\n  text: text.trim().toLowerCase(),\n  patientName: payload.pushName || \"Paciente\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        432
      ],
      "id": "70b428bd-85b3-40e4-9fe3-9052e48f1caa",
      "name": "Extrair Dados"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intentClassified }}",
                    "rightValue": "CONFIRMADO",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d554f221-3f2b-440b-81c6-aa7af7cdc2bf"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a9e2d4dc-a7c8-4fd8-9f16-664f6e4d5253",
                    "leftValue": "={{ $json.intentClassified }}",
                    "rightValue": "CANCELADO",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        432
      ],
      "id": "000bc103-c753-4f9f-8f13-9306f69f2dcf",
      "name": "Analisar Intenção"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://confirme-phi.vercel.app/api/webhooks/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Extrair Dados').item.json.phone }}\",\n  \"status\": \"CONFIRMED\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1024,
        320
      ],
      "id": "221d8a45-84e7-4380-96bd-8a915a37f95a",
      "name": "Next.js - Confirmar",
      "credentials": {
        "httpHeaderAuth": {
          "id": "W7ULixxR4Zu4FIVb",
          "name": "confirme"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-evo.yyuhkk.easypanel.host/message/sendText/Silvia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "544AA063B68F-49A1-BEF5-6AF3E5185639"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.remoteJid }}\",\n  \"text\": \"✅ *Agendamento Confirmado!*\\n\\nObrigado por avisar. Aguardamos você na clínica!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        320
      ],
      "id": "7ee5d86f-050c-4a49-a7a6-e63250f649e0",
      "name": "Evo - Msg Confirmado"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://confirme-phi.vercel.app/api/webhooks/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Extrair Dados').item.json.phone }}\",\n  \"status\": \"CANCELLED\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1024,
        512
      ],
      "id": "4ecdacaf-5786-425d-a364-91b6644c25a4",
      "name": "Next.js - Cancelar",
      "credentials": {
        "httpHeaderAuth": {
          "id": "W7ULixxR4Zu4FIVb",
          "name": "confirme"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-evo.yyuhkk.easypanel.host/message/sendText/Silvia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "544AA063B68F-49A1-BEF5-6AF3E5185639"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.remoteJid }}\",\n  \"text\": \"❌ *Agendamento Cancelado.*\\n\\nSua consulta foi desmarcada. Se desejar reagendar futuramente, basta entrar em contato. Obrigado por nos avisar!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        512
      ],
      "id": "8f522ef7-71d0-4940-b738-d64e2fd78f6f",
      "name": "Evo - Msg Cancelado"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-evo.yyuhkk.easypanel.host/message/sendText/Silvia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "544AA063B68F-49A1-BEF5-6AF3E5185639"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"554191194738@s.whatsapp.net\",\n  \"text\": \"⚠️ *ALERTA DE DESISTÊNCIA*\\n\\nO paciente *{{ $json.patientName }}* (Tel: {{ $json.phone }}) acabou de *CANCELAR* a consulta.\\n\\nO horário já consta como 'Cancelado' no Dashboard. Por favor, libere a agenda no sistema Clinic.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1440,
        512
      ],
      "id": "06e75d4b-96b3-4db2-a276-176a5107e79f",
      "name": "Evo - Notificar Assistente"
    },
    {
      "parameters": {
        "jsCode": "// O n8n expõe todos os itens recebidos no array $input.all()\n// Vamos mapear (iterar) sobre todos eles e devolver o array modificado\nreturn $input.all().map(item => {\n  const data = item.json;\n  \n  // 1. Tratamento do Telefone (adiciona 55 do Brasil se não tiver)\n  let fone = data.patientMobile.replace(/\\D/g, '');\n  if (!fone.startsWith('55')) {\n    fone = '55' + fone;\n  }\n\n  // 2. Retornamos o objeto com o telefone formatado\n  // O \"data.customMessage\" já vem pronto do Next.js, então o n8n repassa automaticamente com o \"...data\"\n  return {\n    json: {\n      ...data,\n      patientMobileEvo: fone\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ],
      "id": "2935efc4-bbad-4a5a-aee0-faaeb42b568d",
      "name": "Formatar Dados"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Você é um classificador semântico para uma clínica médica. Sua única função é ler a mensagem do paciente e classificar sua intenção.\nRetorne ESTritamente e APENAS uma das três palavras abaixo, sem pontuação ou explicações:\nCONFIRMADO (se ele der certeza que vai)\nCANCELADO (se ele desmarcar ou disser que não pode ir)\nOUTROS (se for uma dúvida, se ele pedir para reagendar sem dar certeza, ou se a mensagem for ininteligível)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        432
      ],
      "id": "d94afe8f-8303-4451-9ab0-65f2f05a37bd",
      "name": "IA - Entender Resposta"
    },
    {
      "parameters": {
        "jsCode": "// Procura a resposta da IA nos vários formatos possíveis (incluindo o 'output' do Langchain/Gemini)\nlet intent = $json.output || $json.message?.content || $json.text || \"OUTROS\";\n\nreturn {\n  ...$json, \n  intentClassified: String(intent).trim().toUpperCase() \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        432
      ],
      "id": "8a7a80b3-f13a-465e-8903-241c4a3be636",
      "name": "Tratar Output IA"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        624
      ],
      "id": "bd0bf0a7-15f3-4e15-8398-cc41021a8209",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xevCjAyRV89KT0nS",
          "name": "Paulo 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd1ebd93-e50a-4790-8f0e-0fb88ff86c0e",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        96
      ],
      "id": "cd20c720-2baf-48e2-91f8-75eff8d25de7",
      "name": "Verificar Erro no Envio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://confirme-phi.vercel.app/api/webhooks/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"={{ $('Loop Pacientes').item.json.patientMobileEvo }}\",\n  \"status\": \"ERROR\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1056,
        96
      ],
      "id": "d66096ff-45a8-4ecd-9f3e-59d56ea4065a",
      "name": "Next.js - Reportar Erro",
      "credentials": {
        "httpHeaderAuth": {
          "id": "W7ULixxR4Zu4FIVb",
          "name": "confirme"
        }
      }
    }
  ],
  "pinData": {
    "Webhook Trigger": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.yyuhkk.easypanel.host",
            "user-agent": "node",
            "content-length": "4102",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-api-key": "s5y7CaP0R1Axe4Ju+ZLLZs6ht2obdYblUgC+LGsCLWg=",
            "x-forwarded-for": "177.203.203.230",
            "x-forwarded-host": "n8n-n8n.yyuhkk.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b2aef2927755",
            "x-real-ip": "177.203.203.230"
          },
          "params": {},
          "query": {},
          "body": {
            "bookings": [
              {
                "id": "cmltqcva7000mfet0jyg5t4dj",
                "patientName": "MATEUS HUBERT LEONARDI",
                "patientMobile": "41996874017",
                "date": "20/02/2026",
                "time": "08:00",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcvjp000nfet0p2w28nps",
                "patientName": "AMANDA REBECA DA SILVEIRA WOLFF",
                "patientMobile": "41997167611",
                "date": "20/02/2026",
                "time": "13:30",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcvo9000ofet00o32xmg0",
                "patientName": "LAURA DE QUEIROZ",
                "patientMobile": "41991669629",
                "date": "20/02/2026",
                "time": "14:00",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcvtf000pfet01fo2ldos",
                "patientName": "NAOAMI LOWISE AFINOVICZ SANTOS",
                "patientMobile": "41987935466",
                "date": "20/02/2026",
                "time": "14:30",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcvy5000qfet04v33krx1",
                "patientName": "GRAZIELE CRISTINA BREDA",
                "patientMobile": "41999605012",
                "date": "20/02/2026",
                "time": "15:00",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcw51000wfet043v13cdf",
                "patientName": "IONE RAMALHO DE OLIVEIRA",
                "patientMobile": "41996861910",
                "date": "20/02/2026",
                "time": "15:15",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcw4u000sfet0gscf2m9u",
                "patientName": "ADRIANA AMBROZEWICZ",
                "patientMobile": "41999065932",
                "date": "20/02/2026",
                "time": "11:00",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcw4u000tfet05nihv564",
                "patientName": "PATRICIA MILENA SILVA SALDANHA",
                "patientMobile": "91987590875",
                "date": "20/02/2026",
                "time": "09:15",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcw51000vfet00wn77n1q",
                "patientName": "JANDIRA APARECIDA CARNEIRO RENTZ",
                "patientMobile": "41998862876",
                "date": "20/02/2026",
                "time": "10:30",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcw4v000ufet0vn880lcz",
                "patientName": "ANA CAROLINE BUENO FERREIRA",
                "patientMobile": "41998487656",
                "date": "20/02/2026",
                "time": "10:00",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcwah0010fet04x1r1grh",
                "patientName": "RAFAELA FERREIRA ROCHA",
                "patientMobile": "41999596951",
                "date": "20/02/2026",
                "time": "15:30",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcw52000yfet0ddsfjo2y",
                "patientName": "GUILHERME CARLOS DA SILVA",
                "patientMobile": "41984521803",
                "date": "20/02/2026",
                "time": "09:00",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcw4t000rfet0gpqkmuis",
                "patientName": "JULIA BRIZOLA VIEIRA",
                "patientMobile": "41992002969",
                "date": "20/02/2026",
                "time": "13:00",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcw53000zfet0m0cbhnt6",
                "patientName": "EDUARDO KLOSTER GASPAR TEIXEIRA",
                "patientMobile": "41999978096",
                "date": "20/02/2026",
                "time": "09:30",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcw52000xfet0lslhau75",
                "patientName": "VALDIRENE CRISTINA FERREIRA",
                "patientMobile": "41999237545",
                "date": "20/02/2026",
                "time": "08:30",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcwg60011fet0x95v6jkb",
                "patientName": "PATRICIA BONATO PILATO",
                "patientMobile": "41997763627",
                "date": "20/02/2026",
                "time": "16:00",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcwg60014fet0sgrlnr0w",
                "patientName": "KEVYLIN MIRANDA DOS SANTOS",
                "patientMobile": "41995654033",
                "date": "20/02/2026",
                "time": "17:15",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcwg60015fet0ve0rnj7d",
                "patientName": "CAMILA GAIO PENTER",
                "patientMobile": "41988016838",
                "date": "20/02/2026",
                "time": "17:30",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcwg60013fet0yluu20yo",
                "patientName": "MICHAEL DOUGLAS DE MATOS FERREIRA",
                "patientMobile": "41997640485",
                "date": "20/02/2026",
                "time": "17:00",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcwg60016fet0508v8pqd",
                "patientName": "FELIPE SMANIOTTO BERNARDES",
                "patientMobile": "41996197056",
                "date": "20/02/2026",
                "time": "18:00",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcwg70017fet0irqeye47",
                "patientName": "FLAVIA CORREIA DA ROCHA BERNARDES",
                "patientMobile": "41996197056",
                "date": "20/02/2026",
                "time": "18:30",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              },
              {
                "id": "cmltqcwg60012fet0uz68ocbs",
                "patientName": "PRISCILA RODRIGUES VIEIRA SERUR",
                "patientMobile": "41996600222",
                "date": "20/02/2026",
                "time": "16:30",
                "doctor": "MARCO ANTONIO TEIXEIRA DA SILVA"
              }
            ]
          },
          "webhookUrl": "https://n8n-n8n.yyuhkk.easypanel.host/webhook/disparo-confirmacao-clinic",
          "executionMode": "production"
        }
      }
    ],
    "Receber Resposta Evo": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.yyuhkk.easypanel.host",
            "user-agent": "axios/1.13.2",
            "content-length": "1320",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n-n8n.yyuhkk.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b2aef2927755",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Silvia",
            "data": {
              "key": {
                "remoteJid": "554192293001@s.whatsapp.net",
                "remoteJidAlt": "554192293001@s.whatsapp.net",
                "fromMe": false,
                "id": "AC036D4C3B57717E893F1361E0AE4A5D",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "Maria Sylvia",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Claro, vamos sim",
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "recipientKeyHash": {
                      "0": 46,
                      "1": 51,
                      "2": 206,
                      "3": 172,
                      "4": 73,
                      "5": 126,
                      "6": 237,
                      "7": 244,
                      "8": 235,
                      "9": 154
                    },
                    "recipientTimestamp": {
                      "low": 1771609471,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 166,
                    "1": 127,
                    "2": 84,
                    "3": 37,
                    "4": 92,
                    "5": 85,
                    "6": 3,
                    "7": 106,
                    "8": 157,
                    "9": 34,
                    "10": 162,
                    "11": 123,
                    "12": 234,
                    "13": 138,
                    "14": 103,
                    "15": 56,
                    "16": 8,
                    "17": 237,
                    "18": 45,
                    "19": 66,
                    "20": 18,
                    "21": 231,
                    "22": 61,
                    "23": 177,
                    "24": 54,
                    "25": 46,
                    "26": 139,
                    "27": 234,
                    "28": 139,
                    "29": 186,
                    "30": 66,
                    "31": 33
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1771855704,
              "instanceId": "3a7a6ccd-26ed-47df-94e9-578a0a6d49f4",
              "source": "android"
            },
            "destination": "https://n8n-n8n.yyuhkk.easypanel.host/webhook/evo-respostas-pacientes",
            "date_time": "2026-02-23T11:08:25.213Z",
            "sender": "554191194738@s.whatsapp.net",
            "server_url": "https://evolution-evo.yyuhkk.easypanel.host",
            "apikey": "544AA063B68F-49A1-BEF5-6AF3E5185639"
          },
          "webhookUrl": "https://n8n-n8n.yyuhkk.easypanel.host/webhook/evo-respostas-pacientes",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Pacientes": {
      "main": [
        [],
        [
          {
            "node": "Evo - Enviar Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evo - Enviar Msg": {
      "main": [
        [
          {
            "node": "Verificar Erro no Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Anti-Ban": {
      "main": [
        [
          {
            "node": "Loop Pacientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Formatar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receber Resposta Evo": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "IA - Entender Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisar Intenção": {
      "main": [
        [
          {
            "node": "Next.js - Confirmar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Next.js - Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next.js - Confirmar": {
      "main": [
        [
          {
            "node": "Evo - Msg Confirmado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next.js - Cancelar": {
      "main": [
        [
          {
            "node": "Evo - Msg Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evo - Msg Cancelado": {
      "main": [
        [
          {
            "node": "Evo - Notificar Assistente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Dados": {
      "main": [
        [
          {
            "node": "Loop Pacientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA - Entender Resposta": {
      "main": [
        [
          {
            "node": "Tratar Output IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar Output IA": {
      "main": [
        [
          {
            "node": "Analisar Intenção",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "IA - Entender Resposta",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Erro no Envio": {
      "main": [
        [
          {
            "node": "Next.js - Reportar Erro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Anti-Ban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next.js - Reportar Erro": {
      "main": [
        [
          {
            "node": "Wait Anti-Ban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "33d84823-c4ed-401b-bdb9-b31a87108992",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e7e8643e7147f9326806d43a4de74f76bb6cc8bceea0a468d6b4b07226cb9e8"
  },
  "id": "GLR2BgqquycDH2kGAxjup",
  "tags": []
}